@charset "UTF-8";

/*Inicio Configurações Gerais*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*Fim Configurações Gerais*/

header.site-header {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255)), url(imagens/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/*Inicio Configurações header*/

header.site-header > img.logo {
    display: block;
    margin: auto;
    padding: 100px 0 60px 0px;
}

/*Fim Configurações header*/


/*Inicio Configurações main*/

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
}

/*Fim Configurações main*/

/*Inicio Configurações section*/

main > section {
    width: 80%;
}

main > section.intro > h1 {
    color: #4c545d;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
}

main > section.intro > p {
    line-height: 30px;
    text-align: center;
    margin: 30px 0 60px 0;
    color: hsl(201, 11%, 66%);
}

main > section.intro > div.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    gap: 20px;
    text-align: center;
}

main > section.intro > div.cta > a {
    color: #ffffff;
    padding: 15px;
    width: 100%;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.2em;
}

main > section.intro > div.cta > a.for-ios {
    background-color: #26baa4;
    transition: 0.3s;
}

main > section.intro > div.cta > a.for-ios:hover {
    border-bottom: 3px solid #1CA592;
    transform: translate(3px, -3px);
    box-shadow: 0px 0px 5px #26baa4;
}

main > section.intro > div.cta > a.for-mac {
    background-color: #6173ff;
    transition: 0.3s;
}

main > section.intro > div.cta > a.for-mac:hover {
    border-bottom: 3px solid #5467E5;
    transform: translate(3px, -3px);
    box-shadow: 0px 0px 5px #6173ff;
}

main > section.features > article.feature > h2 {
    color: rgb(76, 84, 93);
    text-align: center;
    font-size: 2em;
}

main > section.features > article.feature > h3 {
    color: rgb(76, 84, 93);
    text-align: center;
    font-size: 1.5em;
}

main > section.features > article.feature > p {
    line-height: 30px;
    text-align: center;
    margin: 20px 0 60px 0;
    color: rgb(159, 171, 178);
}

main > section.features > article.feature > div.feature-media {
    margin-bottom: 100px;
}

main > section.features > article.feature > div.feature-media > img {
    width: 100%;
}

main > section.features > article.feature > aside > h3 {
    color: rgb(76, 84, 93);
    text-align: center;
    font-size: 1.5em;
}

main > section.features > article.feature > aside > p {
    line-height: 30px;
    text-align: center;
    margin: 20px 0 60px 0;
    color: rgb(159, 171, 178);
}

main > section.features > article.feature > aside > i {
    display: block;
    margin: 50px auto;
    font-size: 50px;
    color: #757e84;
}

main > section.features > article.feature > div.clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin: 150px 0;
}

main > section.features > article.feature > div.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    gap: 20px;
    text-align: center;
}

main > section.features > article.feature > div.cta > a {
    color: #ffffff;
    padding: 15px;
    width: 100%;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.2em;
}


main > section.features > article.feature > div.cta > a.for-ios {
    background-color: #26baa4;
    transition: 0.3s;
}

main > section.features > article.feature > div.cta > a.for-ios:hover {
    border-bottom: 3px solid #1CA592;
    transform: translate(3px, -3px);
    box-shadow: 0px 0px 5px #26baa4;
}

main > section.features > article.feature > div.cta > a.for-mac {
    background-color: #6173ff;
    transition: 0.3s;
}

main > section.features > article.feature > div.cta > a.for-mac:hover {
    border-bottom: 3px solid #5467E5;
    transform: translate(3px, -3px);
    box-shadow: 0px 0px 5px #6173ff;
}

/*Fim Configurações section*/

/*Inicio Configurações footer*/

footer.contact {
    background-color: #F5F6F8;
}

footer.contact> img.logo-footer {
    margin: auto;
    display: block;
    padding: 50px 0;
}

footer.contact > div.support > nav > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

footer.contact > div.support > nav > ul > li > a {
    text-decoration: none;
    color: #4c545d;
}

footer.contact > div.support > nav > ul > li > a:hover {
    text-decoration: underline;
}

footer.contact > div.icons > nav > ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
    padding: 50px 0;
}

footer.contact > div.icons > nav > ul > li > a {
    font-size: 40px;
    color: #9fabb2;
    transition: 0.3s;
}

footer.contact > div.icons > nav > ul > li > a:hover {
    color: rgb(76, 84, 93);
}
/*Fim Configurações footer*/