 @charset "UTF-8";

 /*Inicio Configurações Gerais*/

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
 }

 /*Fim Configurações Gerais*/

 header.site-header {
     background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255)), url(imagens/bg-header-mobile.png);
     background-repeat: no-repeat;
     background-size: cover;
 }

 /*Inicio Configurações header*/

 header.site-header img.logo {
     display: block;
     margin: auto;
     padding: 100px 0 60px 0px;
 }

 /*Fim Configurações header*/


 /*Inicio Configurações main*/

 main {
     display: flex;
     flex-flow: column nowrap;
     width: 100%;
     overflow: hidden;
 }

 /*Fim Configurações main*/

 /*Inicio Configurações section*/


 section h1 {
     color: #4c545d;
     text-align: center;
     margin-bottom: 20px;
     font-size: 2.5em;
 }

 section p {
     line-height: 30px;
     text-align: center;
     margin: 30px 0 60px 0;
     color: hsl(201, 11%, 66%);
 }

 div.cta {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-bottom: 100px;
     gap: 20px;
     text-align: center;
 }

 div.cta a {
     color: #ffffff;
     padding: 15px;
     width: 100%;
     border-radius: 20px;
     text-decoration: none;
     font-size: 1.2em;
 }

 div.cta a.for-ios {
     background-color: #26baa4;
     transition: 0.3s;
 }

 div.cta a.for-ios:hover {
     border-bottom: 3px solid #1CA592;
     transform: translate(3px, -3px);
     box-shadow: 0px 0px 5px #26baa4;
 }

 div.cta a.for-mac {
     background-color: #6173ff;
     transition: 0.3s;
 }

 div.cta a.for-mac:hover {
     border-bottom: 3px solid #5467E5;
     transform: translate(3px, -3px);
     box-shadow: 0px 0px 5px #6173ff;
 }

 article.feature {
     width: 80%;
     max-width: 1100px;
     margin-inline: auto;
     /* centraliza horizontalmente */
 }

 article.feature-flex-container {
     width: 80%;
     margin: auto;
 }

 article.feature h2 {
     color: rgb(76, 84, 93);
     text-align: center;
     font-size: 2em;
 }

 article.feature h3 {
     color: rgb(76, 84, 93);
     text-align: center;
     font-size: 1.5em;
 }

 article.feature p {
     line-height: 30px;
     text-align: center;
     margin: 20px 0 60px 0;
     color: rgb(159, 171, 178);
 }

 div.feature-media {
     margin-bottom: 100px;
 }

 div.feature-media img {
     width: 100%;
 }

 div.feature-item {
     text-align: center;
 }

 div.feature-item h3 {
     color: rgb(76, 84, 93);
     font-size: 1.5em;
 }

 div.feature-item p {
     line-height: 30px;
     margin: 20px 0 60px 0;
     color: rgb(159, 171, 178);
 }

 div.feature-item i {
     margin: 50px 0;
     font-size: 50px;
     color: #757e84;
 }

 div.clients {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 div.clients li {
     gap: 80px;
     margin: 150px 0;
     list-style: none;
 }

 /*Fim Configurações section*/

 /*Inicio Configurações footer*/

 footer.contact {
     background-color: #F5F6F8;
 }

 img.logo-footer {
     margin: auto;
     display: block;
     padding: 50px 0;
 }

 nav ul {
     list-style: none;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 20px;
 }

 nav a {
     text-decoration: none;
     color: #4c545d;
 }

 nav a:hover {
     text-decoration: underline;
 }

 div.icons ul {
     display: flex;
     justify-content: center;
     list-style: none;
     gap: 30px;
     padding: 50px 0;
 }

 div.icons a {
     font-size: 40px;
     color: #9fabb2;
     transition: 0.3s;
 }

 div.icons a:hover {
     color: rgb(76, 84, 93);
 }

 /*Fim Configurações footer*/

 @media screen and (min-width: 800px) {
     div.cta {
         display: flex;
         flex-direction: row;
         justify-content: center;
     }

     div.cta a {
         width: 250px;
     }

     article.feature-flex-container {
         display: flex;
         flex-direction: row;
         gap: 100px;
         width: 100%;
         margin: 0;
         margin-inline: 0;
     }

     article.feature-flex-container>div.feature-media {
         display: flex;
         flex-direction: row;
         margin-left: -2%;
     }

     div.feature-flexible {
         padding-right: 60px;
     }

     div.feature-item h3 {
         text-align: left;
         font-size: 1.3em;
     }

     div.feature-item p {
         font-size: 1em;
         text-align: left;
     }

     div.feature-flex {
         display: flex;
         flex-direction: row;
         gap: 30px;
     }

     div.feature-flex h3 {
         text-align: center;
     }

     div.feature-flex p {
         text-align: center;
     }

     div.clients ul {
         display: flex;
         flex-direction: row;
         gap: 20px;
     }

     div.clients img {
         width: 120px;
     }

     footer.contact {
         display: grid;
         grid-template-columns: 1fr 2fr 1fr;
         align-items: center;
         padding: 0 40px;
         gap: 10px;
     }


     footer a {
         line-height: 30px;
     }

     img.logo-footer {
         width: 70px;
     }

     div.support ul {
         flex-direction: row;
         flex-wrap: nowrap;
         display: flex;
         justify-content: space-between;
         gap: 20px;
     }

     div.support ul li {
         flex: 1 1 0;
         min-width: 0;
     }

     div.icons ul {
         justify-content: flex-end;
         display: flex;
         flex-direction: row;
         min-width: 0;
     }
 }